<div class="my-food_add_food_button_container">
    <button (click)="goToCreateFood()" class="my-food_add_food_button">Ajouter un aliment</button>
</div>

<app-search-food></app-search-food>

<div class="my-food_card_container">
    <div *ngFor="let food of foods | sort:'name' " (click)="goToFood(food)" class="my-food_card" myFoodBorderCard>
        <div class="my-food_name">
            {{ food.name }}
        </div>
        <div class="my-food_macros_container">
            <span class="my-food_title">Calories</span>
            <span class="my-food_title">Protéines</span>
            <span class="my-food_title">Glucides</span>
            <span class="my-food_title">Lipides</span>
            <div class="my-food_value">
                {{ food.calories | integerFormat }} kcal
            </div>
            <div class="my-food_proteins">
                <p class="my-food_value">{{ food.proteins | formatDecimal }} g</p>
            </div>
            <div class="my-food_carbohydrates">
                <p class="my-food_value">{{ food.carbohydrates | formatDecimal }} g</p>
            </div>
            <div class="my-food_lipids">
                <p class="my-food_value">{{ food.lipids | formatDecimal }} g</p>
            </div>
        </div>
        
    </div>
</div>

<div class="my-food_add_food_button_container">
    <button (click)="goToCreateFood()" class="my-food_add_food_button">Ajouter un aliment</button>
</div>

<router-outlet></router-outlet>