<div class="login_container_center">
    <div class="login_container">
        <span><h1>Page de connexion</h1></span>
        <p><em>{{message}}</em></p>
        <form (ngSubmit)="login()" class="login_form">
            <div class="form_group">
                <label for="name">Email </label>
                <input type="email" id="email" [(ngModel)]="userLogin.email" name="email" required>
            </div>
            <div class="form_group">
                <label for="password">Password </label>
                <input type="password" id="password" [(ngModel)]="userLogin.password" name="password" required>
            </div>
            <button type="submit" class="login_button">Se connecter</button><br><br>
        </form>
        <button (click)="goToCreateAccount()">Créer un compte</button>
    </div>
</div>