<form (ngSubmit)="onSubmit()" #userLoginCredentialsForm="ngForm" class="food_form">
    <div class="my-food-detail-edit_card_container">
        <div class="my-food-detail-edit_card">
            <table class="my-food-detail-edit_table">
                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input type="email" id="email" required pattern="" [(ngModel)]="email" name="email" #emailField="ngModel" class="food-edit-input">
                        <div [hidden]="emailField.valid || emailField.pristine">L'email est requis (1-25).</div>
                    </td>
                </tr>
                <tr *ngIf="isUpdating">
                    <td>
                        <label for="currentPassword">Mot de passe actuel</label>
                    </td>
                    <td>
                        <input type="password" id="currentPassword" required pattern="" [(ngModel)]="currentPassword" name="currentPassword" class="food-edit-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="newPassword">Nouveau mot de passe</label>
                    </td>
                    <td>
                        <input type="password" id="newPassword" required pattern="" [(ngModel)]="newPassword" name="newPassword" class="food-edit-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="confirmPassword">Confirmer le mot de passe</label>
                    </td>
                    <td>
                        <input type="password" id="confirmPassword" required pattern="" [(ngModel)]="confirmPassword" name="confirmPassword" class="food-edit-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div *ngIf="isUpdating">
                            <a (click)="backToProfile()">Retour</a>
                        </div>
                        <div *ngIf="!isUpdating">
                            <a (click)="backToLogin()">Retour</a>
                        </div>
                    </td>
                    <td>
                        <button type="submit" [disabled]="!userLoginCredentialsForm.form.valid" class="food-edit_submit_button">Valider</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>