<form (ngSubmit)="onSubmit()" #userLoginCredentialsForm="ngForm">
    <div class="profile_form_container">
        <div class="profile_form_card">
            <div class="user-login-credentials-form_message">{{ message }}</div>
            <div class="profile_form_content">
                <label for="email">Email</label>
                <input type="email" id="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="email" name="email" #emailField="ngModel" class="profile_form_input">
                <div [hidden]="emailField.valid || emailField.pristine">Le format de l'adresse mail est incorrecte.</div>
            </div>
            <div *ngIf="isUpdating" class="profile_form_content">
                <label for="currentPassword">Mot de passe actuel</label>
                <input type="password" id="currentPassword" required pattern="" [(ngModel)]="currentPassword" name="currentPassword" class="profile_form_input">
            </div>
            <div class="profile_form_content">
                <label for="newPassword">{{ isUpdating ? 'Nouveau mot de passe' : 'Mot de passe' }}</label>
                <input type="password" id="newPassword" required pattern="" [(ngModel)]="newPassword" name="newPassword" class="profile_form_input">
            </div>
            <div class="profile_form_content">
                <label for="confirmPassword">Confirmer le mot de passe</label>
                <input type="password" id="confirmPassword" required pattern="" [(ngModel)]="confirmPassword" name="confirmPassword" class="profile_form_input">
            </div>

            <div class="froms_profile_buttons_container">
                <button type="submit" [disabled]="!userLoginCredentialsForm.form.valid" class="froms_profile_button">Valider</button>
    
                <button (click)="backToProfile()" *ngIf="isUpdating" class="froms_profile_button">Retour</button>
                <button (click)="backToLogin()" *ngIf="!isUpdating" class="froms_profile_button">Retour</button>
            </div>
        </div>
    </div>
</form>